body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	margin: 10% 18% 0 18%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.square {
	float: left;
	background: black;
	width: 50px;
	height: 50px;
	position: relative;
	margin: 2%;
}

#measure-container {
	width: 80%;
	margin: 10%;
	padding-bottom: 20%;
}

.content {
	color: white;
	position: absolute;
}

.visualize {
	background: blue;
}

#measure-box {
	margin: 0 10% 0 10%;
}

.time-signature {
	position: relative;
	float: left;
	margin-left: 20%;
}

.top-btns {
	color: #000000;
	background: transparent;
	border: 2px solid #000000;
	border-radius: 6px;
	text-decoration: none;
	text-transform: uppercase;
}

#tempo-value-header {
	margin-top: 0;
	font-size: 8px;
	margin-bottom: 10%;
	position: relative;
	left: 16%;
}

#num-beats-desc {
	font-size: 8px;
}

#subdivision-desc {
	font-size: 8px;
}
