/* General*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Courier', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	margin: 5% 0 0 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	max-width: 320px;
	text-align: center;
	margin: 0 auto;
}

/* Transport*/

/* Dimension*/

.time-signature {
	position: relative;
	float: left;
	margin-left: 20%;
}

button {
	margin: 2px 2px 2px 2px;
}

.top-btns {
	color: #000000;
	background: transparent;
	border: 2px solid #000000;
	border-radius: 6px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Courier';
}

#tempo-value-header {
	margin-top: 0;
	font-size: 8px;
	margin-bottom: 10%;
	position: relative;
	left: 16%;
}

#num-beats-desc {
	font-size: 8px;
}

#subdivision-desc {
	font-size: 8px;
}

.dimension {
	margin-top: 10%;
}

.play-export {
	display: inline-block;
}

#info-span {
	font-size: 7px;
	margin: 0 0 0 70%;
}

.title h3 {
	margin-top: 0;
}

#tempo-sld {
	margin-top: 4%;
}

.tempo-text {
	font-size: 10px;
}

/* Step Sequence*/

.top-row-btn:checked {
	/* background: #26ca28; */
}

.top-row-shell {
	display: inline-block;
	margin: 0;
}

.bottom-row-shell {
	display: inline-block;
	margin: 0;
}

.top-row-btn {
	/* display: none; */
}

.top-row {
	overflow-x: visible;
	white-space: nowrap;
	text-align: center;
}

.bottom-row {
	overflow-x: visible;
	white-space: nowrap;
}

input[type='checkbox'] {
	opacity: 0;
	z-index: -1;
}

input[type='checkbox'] + label {
	width: 15px;
	height: 15px;
	display: block;
	position: relative;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-indent: -999px;
	overflow: hidden;
	border: 1px solid black;
	cursor: pointer;
}

input[type='checkbox'].top-row-btn + label {
	border: 1px solid black;
	background: transparent;
	transition: (0.5s, ease, all);
}

input[type='checkbox'].top-row-btn:checked + label {
	border: 4px solid black;
	background: white;
}

input[type='checkbox'].bottom-row-btn + label {
	border: 1px solid black;
	background: transparent;
	transition: (0.5s, ease, all);
}

input[type='checkbox'].bottom-row-btn:checked + label {
	border: 4px solid black;
	background: white;
}

/* Sequence*/

.square {
	float: left;
	background: black;
	width: 50px;
	height: 50px;
	position: relative;
	margin: 2%;
}

#measure-container {
	width: 80%;
	margin: 5% 10% 0 13%;
	padding-bottom: 20%;
}

.content {
	color: white;
	position: absolute;
	font-family: 'Courier';
	top: 13%;
	left: 30%;
}

.visualize {
	background: blue;
}

#measure-box {
	margin: auto;
}

.bottom-btns {
	color: #000000;
	background: transparent;
	border: 2px solid #000000;
	border-radius: 6px;
	text-decoration: none;
	text-transform: uppercase;
}

.sequence-transport button {
	position: relative;
}

.sequence-transport {
	width: 100%;
	display: flex;
	justify-content: center;
}

.line-divide {
	background-color: white;
	width: 18px;
	height: 1px;
}

#play-pause-btn {
	font-family: 'Courier';
}

#loop-btn {
	font-family: 'Courier';
}

#clear-btn {
	font-family: 'Courier';
}
